/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.search-sidebar {
  position:absolute;
  left: -300px;
  top: 0;
  height: 100%;
  width: 100px;
  background: #1d1b31;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.search-sidebar.open {
  width: 300px;
  left: 0;
}

.search-sidebar.open .title-details{
  height: 60px;
  display: contents;
  align-items: center;
  position: relative;
}

.search-sidebar .title-details .title_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  
  opacity: 0;
  transition: all 0.5s ease;
}

.search-sidebar.open .title-details .title_name{
  opacity: 1;
}

/*.direct-sidebar .search-panel {
  background-color: blue;
  
}*/

.search-sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.search-sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.search-sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.search-sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.search-sidebar li a:hover{
  background: #FFF;
}

.search-sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.search-sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}


.traffic-sidebar {
  position:absolute;
  left: -300px;
  top: 0;
  height: 100%;
  width: 100px;
  background: #1d1b31;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.traffic-sidebar.open {
  width: 300px;
  left: 0;
}

.traffic-sidebar.open .title-details{
  height: 60px;
  display: contents;
  align-items: center;
  position: relative;
}

.traffic-sidebar .title-details .title_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  
  opacity: 0;
  transition: all 0.5s ease;
}

.traffic-sidebar.open .title-details .title_name{
  opacity: 1;
}

.traffic-sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.traffic-sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.traffic-sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
 
.traffic-sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.traffic-sidebar li a:hover{
  background: #FFF;
}
.traffic-sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.traffic-sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.traffic-sidebar li a:hover .links_name,
.traffic-sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.traffic-sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}



.direct-sidebar {
  position:absolute;
  left: -300px;
  top: 0;
  height: 100%;
  width: 100px;
  background: #1d1b31;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.direct-sidebar.open {
  width: 300px;
  left: 0;
}

.direct-sidebar.open .title-details{
  height: 60px;
  display: contents;
  align-items: center;
  position: relative;
}

.direct-sidebar .title-details .title_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  
  opacity: 0;
  transition: all 0.5s ease;
}

.direct-sidebar.open .title-details .title_name{
  opacity: 1;
}

/*.direct-sidebar .search-panel {
  background-color: blue;
  
}*/

.direct-sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.direct-sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.direct-sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.direct-sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.direct-sidebar li a:hover{
  background: #FFF;
}

.direct-sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.direct-sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}



.tt-popup {
  padding-top: 7px;
}
.tt-search-box-input {
  width: calc(100% - 40px);
}


.map .icon {
  height: 30px;
  width: 30px;
}
.map .tt-icon.-finish {
  height: 16px;
  width: 16px;
}
.map .icon-spacing {
  margin-right: 14px;
  margin-top: 24px;
}
.map .searchbox {
  flex: 1;
}
.map .searchbox-wrapper {
  display: flex;
  min-height: 52px;
}
.map .draggable-marker {
  align-items: center;
  background-color: #4a90e2;
  border: solid 3px #2faaff;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  transition: width .1s, height .1s;
  width: 32px;
}
.summary-header {
  border-bottom: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  padding: 24px;
}
.summary-details-top {
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px 0;
}
.summary-details-bottom {
  display: flex;
}
.summary-icon-wrapper {
  padding: 24px;
  width: 98px;
}
.summary-details-text {
  padding: 24px 24px 24px 0;
  width: calc(100% - 98px);
}
.summary-details-info {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.summary-details-info.-second {
  margin-top: 10px;
}
.tt-icon.-car {
  height: 50px !important;
  width: 50px !important;
}
